.dashboard{
    width:90%;
    margin: auto;
    border: 1px solid #4140400e;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.1);
    padding: 20px;
}

.dashboard .no-expense{
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
}