.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar h2{
    // color: #4C45A4;
    font-size: 20px;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    display: inline;
    margin: 0 10px;
    padding-bottom: 3px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #4C45A4;
    border-bottom: 1px solid #4C45A4;
}
.navbar .active-navLink{
    color: #4C45A4;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        border-bottom:1px solid #32323377;
        margin-bottom: 10px;
    }
    .navbar ul li{
        margin-left: 0;
        margin-right: 20px;
    }
}