.report{
    width:90%;
    margin: auto;
    border: 1px solid #4140400e;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.1);
    padding: 20px;
}

.report .weekly-report{
    border: 1px solid #4140400e;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.1);
    padding: 20px;
    font-size:18px;
    line-height: 2.5rem;
    margin: 5px;
    color: #323232;
    border-left: 2px solid #4C45A4;
}

.report .category-wise-report{
    margin-top: 25px;
}


@media screen and (max-width: 500px) {
    .report{
        width: 100%;
    }
}