.admin-dashboard .user-card{
    border: 1px solid #4140400e;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0,0,0,0.1);
    padding: 20px;
    font-size: 18px;
    color: #323232;
    line-height: 2.5rem;
    cursor: pointer;
    border-left: 2px solid #4C45A4;
}